<header>
    <nav class='navbar navbar-light bg-light'>
        <div class='container-fluid'>
            <a class='navbar-brand' href=''>
                <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Shopping_cart_icon.svg/1250px-Shopping_cart_icon.svg.png'
                    alt='' width='30' height='24' class='d-inline-block align-text-top fw-3' /></a>
            <div class='d-grid gap-2 d-md-flex justify-content-md-end'>

            </div>
        </div>

    </nav>
</header>
<section>
    <div class="text-center">
        <h3>Create user</h3>
    </div>


    <div class="container-fluid  p-5 ">

        <div class="col-lg-6 shadow-sm p-3">

            <form action="/admin/create" method="POST">
                <div class="form-group p-2">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" name="username" class="form-control shadow-sm" placeholder="Username">
                </div>
                <div class="form-group p-2">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="mail" class="form-control shadow-sm" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Email">

                </div>
                <div class="form-group p-2">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control shadow-sm" id="exampleInputPassword1"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary shadow-sm">Create</button>

                <button class='btn btn-primary btn-primary me-md-2' type='button'><a href="/admin/viewusers"
                        style="text-decoration: none; color:white">View users</a></button>

            </form>
            {{#if createerr}}
            <div class="error text-danger">{{createerr}}</div>
            {{/if}}

        </div>


    </div>
</section>