<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2 class="d-flex justify-content-center fw-3">Sign Up</h2>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://birchtree.me/content/images/2021/06/007-copy.jpg" class="img-fluid"
                    alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="container-fluid" action="/signup/submit" method="POST">


                    <!-- Username input -->
                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-6">USERNAME</label>
                        <input type="text" id="form3Example3" name="username" class="form-control form-control-lg"
                            placeholder="Username" />

                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-7">E-Mail</label>
                        <input type="email" name="mail" id="form3Example4" class="form-control form-control-lg"
                            placeholder="E-mail" />
                    </div>
                    <!-- Password input -->

                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-7">PASSWORD</label>
                        <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="password" />
                    </div>
                    <div class="form-outline mb-4 shadow-sm ">
                        <label class="form-label fs-7">CONFIRM PASSWORD</label>
                        <input type="password" name="confirm_password" id="form3Example4"
                            class="form-control form-control-lg" placeholder="confirm password" />
                    </div>

                    {{!-- <div class="text-danger">{{error}}</div> --}}



                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>