<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2 class="d-flex justify-content-center fw-3">Sign Up</h2>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://media.istockphoto.com/vectors/shopping-cart-flat-design-ecommerce-icon-vector-id912819748?b=1&k=20&m=912819748&s=170667a&w=0&h=FcUH4FEU2lcucZt7aP4TguTPO6l4Pt_90FSwX-gBEcQ="
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="container-fluid" id="signupform">


                    <!-- Username input -->
                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-6">USERNAME</label>
                        <input type="text" id="usersu" name="username" class="form-control form-control-lg"
                            placeholder="Username" />

                    </div>
                    <div class="text-danger" id="error-name"></div>

                    <!-- Email input -->
                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-7">E-Mail</label>
                        <input type="email" name="mail" id="mailsu" class="form-control form-control-lg"
                            placeholder="E-mail" />
                    </div>
                    <div class="text-danger" id="error-email"></div>

                    <!-- Password input -->

                    <div class="form-outline mb-4 shadow-sm">
                        <label class="form-label fs-7">PASSWORD</label>
                        <input type="password" name="password" id="passwordsu" class="form-control form-control-lg"
                            placeholder="password" />
                    </div>
                    <div class="text-danger" id="error-password"></div>





                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>

                    </div>

                </form>
                <div class="text-danger" id="submit-message"></div>
                {{#if signuperr}}
                <div class="error text-danger">{{signuperr}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    var submitname = false; var submitemail = false; var submitpassword = false;

    var mailRegx = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
    $(document).ready(function () {
        $("#usersu").on('input', function () {
            this.value = this.value.replace(/[^ a-zA-Z]/, '');
            var name = $(this).val()
            if (name.length < 3 || name.includes('  ') || name.charAt(0) == ' ') {
                $("#error-name").text("Invalid Name");
                submitname = false;
            } else {
                submitname = true;
                $("#error-name").text(" ");

            }
        })

        $('#mailsu').blur(function () {
            var email = $(this).val()
            if (!email.match(mailRegx)) {
                $("#error-email").text("Invalid E-mail");
                submitemail = false;
            } else {
                submitemail = true;
                $("#error-email").text(" ");

            }
        })
        $('#passwordsu').blur(function () {
            var password = $(this).val()
            if (password.length < 3 && password.includes('')) {
                $("#error-password").text("Min 3 input needed");
                submitpassword = false;
            } else {
                submitpassword = true;
                $("#error-password").text(" ");
            }
        })

    })
    $('#signupform').on("submit", (e) => {
        e.preventDefault()
        console.log(submitname)
        console.log(submitemail)
        console.log(submitpassword)
        if (submitname == true && submitemail == true && submitpassword == true) {

            $.ajax({
                url: "/signup/submit",
                data: $("#signupform").serialize(),
                method: "post",
                success: function (response) {
                    alert("Form submitted successfully")
                    location.replace('/')
                },
                error: function (err) {
                    alert("Something Error")

                }
            })
        } else {


            $("#submit-message").html("Fill the Fields");


        }

    })









</script>